<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <script type="text/javascript" charset="UTF-8" src="https://wx.gtimg.com/pay_h5/goldplan/js/jgoldplan-1.0.0.js"></script>
    </head>
	<body>
        <div>
<!--            <p>{{ .SubMchId }}</p>-->
<!--            <p>{{ .OutTradeNo }}</p>-->
<!--            <p>{{ .CheckCode }}</p>-->
            <img style="width: 100%;" src='http://i1.fuimg.com/735699/6d08b457f170d5b9.jpg'>
        </div>
    </body>
    <script type="application/javascript">
        window.onload=function () {
            let mchData ={action:'onIframeReady',displayStyle:'SHOW_CUSTOM_PAGE'}
            let postData = JSON. stringify(mchData)
            parent.postMessage(postData,'https://payapp.weixin.qq.com')
        }
    </script>
</html>